<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yohann.dao.ItemCategoryDao">
    <!-- 查询所有 -->
    <select id="findAll" resultType="com.yohann.entity.ItemCategory">
        select * from item_category
    </select>

    <!-- 按对象查询 -->
    <select id="findEntity" resultType="com.yohann.entity.ItemCategory" parameterType="com.yohann.entity.ItemCategory">
        select * from item_category
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null">
                name = #{name}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="isDelete != null">
                and isDelete = #{isDelete}
            </if>
        </trim>
    </select>

    <!-- 按ID查询 -->
    <select id="findById" resultType="com.yohann.entity.ItemCategory" parameterType="int">
        select * from item_category where id = #{id}
    </select>
    
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yohann.entity.ItemCategory">
        insert into item_category(name, pid, isDelete) values (#{name}, #{pid}, #{isDelete})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yohann.entity.ItemCategory">
        update item_category
        <trim prefix="set" prefixOverrides=",">
            <if test="name != null">
                name = #{name}
            </if>
            <if test="pid != null">
                , pid = #{pid}
            </if>
            <if test="isDelete != null">
                , isDelete = #{isDelete}
            </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 按照ID删除 -->
    <delete id="deleteById" parameterType="int">
        delete from item_category where id = #{id}
    </delete>

    <!-- 查询数据条数 -->
    <select id="count" resultType="long">
        select count(*) from item_category
    </select>

    <!-- 分页查询 -->
    <select id="findByPager" resultType="com.yohann.entity.ItemCategory" parameterType="map">
        select * from item_category limit #{starIndex}, #{pageSize}
    </select>

    <!-- 分页查询一级目录 -->
    <select id="findFirstDirectory" resultType="com.yohann.entity.ItemCategory" parameterType="map">
        select * from item_category  where isDelete = 0 and pid = 0 order by id limit #{starIndex}, #{pageSize}
    </select>

    <!-- 分页查询二级目录 -->
    <select id="findSecondDirectory" resultType="com.yohann.entity.ItemCategory" parameterType="map">
        select * from item_category  where isDelete=0 and pid=#{pid} order by id limit #{starIndex}, #{pageSize}
    </select>

    <!-- 查询一级数据条数 -->
    <select id="countFirstDirectory" resultType="long">
        select count(*) from item_category  where isDelete = 0 and pid = 0
    </select>

    <!-- 查询二级数据条数 -->
    <select id="countSecondDirectory" resultType="long" parameterType="map">
        select count(*) from item_category  where isDelete=0 and pid=#{pid}
    </select>

    <!-- 删除自身分类 -->
    <update id="deleteFirstDirectory" parameterType="int">
        update item_category  set isDelete=1 where id=#{id}
    </update>

    <!-- 删除下级分类 -->
    <update id="deleteSecondDirectory" parameterType="int">
        update item_category  set isDelete=1 where pid=#{pid}
    </update>
</mapper>